._f-service {
  padding: 30px 0;
  background-color: #f6f5f5;
  border-bottom: 1px solid #e2e2e2; }
  ._f-service ul {
    width: 1200px;
    margin: 0 auto;
    height: 42px;
    line-height: 42px;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  ._f-service li {
    width: 25%;
    float: left; }
  ._f-service i {
    margin-right: 10px;
    color: #e44b52;
    font-size: 32px;
    vertical-align: -4px; }
  ._f-service .icon-2801 {
    font-size: 30px; }

._f-help {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden; }
  ._f-help > div {
    float: left;
    width: 16.66%;
    padding-left: 55px;
    box-sizing: border-box; }
  ._f-help h3 {
    line-height: 24px;
    font-size: 14px;
    font-weight: bold; }
    ._f-help h3 a {
      color: #444; }
  ._f-help p {
    line-height: 22px; }
    ._f-help p a:hover {
      color: #e01222; }

._f-hotline {
  text-align: left; }
  ._f-hotline h4 {
    line-height: 34px;
    font-size: 16px; }
  ._f-hotline h5 {
    line-height: 34px;
    font-size: 18px;
    color: #333; }

._f-WeChat {
  text-align: center; }
  ._f-WeChat img {
    width: 80px;
    height: 80px; }

._f-website {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 10px 0;
  line-height: 22px; }
  ._f-website a {
    margin: 0 10px;
    color: #999; }

.c-red {
  color: #f51322 !important; }

.c-999 {
  color: #999; }

.c-333 {
  color: #333; }

.u-right {
  float: right; }

.u-left {
  float: left; }

.content {
  width: 1200px;
  margin: 0 auto; }

._u-body {
  background-color: #f5f5f5; }

._safe {
  padding: 25px;
  background-color: #fff; }
  ._safe > h3 {
    font-weight: bold;
    color: #333; }

button {
  cursor: pointer; }

.fade-in {
  position: fixed;
  top: 220px;
  right: -235px;
  z-index: 9999;
  width: 235px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box; }
  .fade-in h3 {
    float: left;
    width: 35px;
    height: 100%;
    font-size: 14px;
    background-color: #f8b45b;
    color: #fff;
    text-align: center; }
  .fade-in p {
    float: left;
    width: 200px;
    height: 100%;
    font-size: 14px;
    background-color: #fef3e5;
    color: #f8b45b;
    padding-left: 10px;
    box-sizing: border-box; }

.default {
  position: fixed;
  top: 360px;
  left: 50%;
  z-index: 9999;
  margin-left: -120px;
  width: 240px;
  padding: 10px 20px 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px; }
  .default > h3 {
    line-height: 30px; }

@font-face {
  font-family: 'iconfont';
  /* project id 404741 */
  src: url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot");
  src: url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.woff") format("woff"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.ttf") format("truetype"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.svg#iconfont") format("svg"); }
._c_header {
  height: 120px; }

._h-shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #f2f2f2; }
  ._h-shortcut .w {
    width: 1200px;
    margin: 0 auto; }
    ._h-shortcut .w strong span {
      margin-right: 20px; }
    ._h-shortcut .w strong a {
      border: none; }
      ._h-shortcut .w strong a:hover {
        color: #fa0818; }
  ._h-shortcut ul {
    float: right; }
  ._h-shortcut li {
    float: left; }
  ._h-shortcut a {
    padding: 0 15px;
    border-right: 1px solid #ddd; }
    ._h-shortcut a:hover {
      color: #fa0818; }
  ._h-shortcut .last {
    position: relative;
    border-right: none; }
    ._h-shortcut .last:hover img {
      display: inline-block; }
    ._h-shortcut .last img {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 30px;
      left: 0;
      display: none; }

._h_c-search {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  overflow: hidden; }

._c-logo {
  float: left;
  margin-top: 20px; }
  ._c-logo img {
    width: 120px;
    height: 54px; }
  ._c-logo span {
    font-size: 22px;
    color: #333;
    margin-left: 30px;
    vertical-align: 15px; }

.cart-sea-box {
  margin-top: 30px;
  float: right;
  width: 350px;
  height: 35px;
  border: 2px solid #e81b2a;
  box-sizing: border-box; }
  .cart-sea-box input {
    width: 276px;
    height: 31px;
    line-height: 31px;
    border: none;
    padding-left: 20px;
    box-sizing: border-box; }
  .cart-sea-box button {
    float: right;
    width: 70px;
    height: 31px;
    line-height: 31px;
    border: none;
    background-color: #e81b2a;
    color: #fff;
    text-align: center;
    box-sizing: border-box; }

._cart_c > h2 {
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-weight: bold; }
  ._cart_c > h2 span {
    color: #e4393c; }
._cart_c .t_t_all {
  width: 160px; }
  ._cart_c .t_t_all input {
    vertical-align: -2px;
    margin-right: 5px; }
._cart_c .t_t_good {
  width: 515px; }
._cart_c .t_t_dj {
  width: 130px; }
._cart_c .t_t_num {
  width: 120px; }
._cart_c .t_t_xj {
  width: 90px; }

.c_table_title {
  height: 40px;
  line-height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #f3f3f3;
  padding: 0 10px;
  margin-bottom: 20px; }
  .c_table_title span {
    display: inline-block; }

.c_table_con {
  margin-bottom: 20px; }
  .c_table_con > h3 {
    font-size: 14px;
    line-height: 34px;
    font-weight: bold;
    color: #333;
    padding: 0 20px;
    border-bottom: 2px solid #aaaaaa; }
    .c_table_con > h3 i {
      color: #4199dd; }
  .c_table_con > div {
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0; }
    .c_table_con > div li {
      height: 141px;
      padding: 30px 0;
      line-height: 22px;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box; }
      .c_table_con > div li > div {
        float: left;
        height: 100%; }
  .c_table_con ._tab_check {
    width: 40px;
    text-align: center;
    box-sizing: border-box; }
  .c_table_con ._tab_img {
    width: 80px; }
    .c_table_con ._tab_img img {
      width: 80px;
      height: 80px; }
  .c_table_con ._tab_name {
    width: 300px;
    padding: 5px 30px 5px 15px;
    font-weight: bold;
    box-sizing: border-box; }
    .c_table_con ._tab_name a {
      color: #333; }
  .c_table_con ._tab_spec {
    width: 260px;
    padding: 5px 30px 5px 15px;
    box-sizing: border-box; }
  .c_table_con ._tab_dj {
    width: 120px;
    padding-top: 5px;
    font-size: 14px;
    color: #333; }
  .c_table_con ._tab_num {
    width: 140px;
    padding-top: 5px;
    text-align: center; }
    .c_table_con ._tab_num p {
      overflow: hidden; }
    .c_table_con ._tab_num b {
      display: inline-block;
      width: 18px;
      height: 22px;
      border: 1px solid #cacbcb;
      box-sizing: border-box;
      cursor: pointer;
      float: left; }
    .c_table_con ._tab_num input {
      float: left;
      width: 44px;
      height: 22px;
      line-height: 20px;
      text-align: center;
      border-top: 1px solid #cacbcb;
      border-right: none;
      border-bottom: 1px solid #cacbcb;
      border-left: none;
      box-sizing: border-box; }
  .c_table_con ._tab_xj {
    width: 100px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold; }
  .c_table_con ._tab_cz {
    color: #333; }
    .c_table_con ._tab_cz p {
      cursor: pointer; }

.c_table_con-none {
  height: 440px;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
  display: none; }
  .c_table_con-none img {
    vertical-align: -35px; }
  .c_table_con-none span {
    margin: 0 10px;
    color: #333; }
  .c_table_con-none a {
    color: #01AAED; }

._c_settlement {
  height: 60px;
  line-height: 60px;
  border: 1px solid #e0e0e0;
  padding-left: 15px;
  margin-bottom: 15px; }
  ._c_settlement input {
    margin-right: 5px;
    vertical-align: -2px; }
  ._c_settlement span {
    margin: 15px;
    cursor: pointer; }
    ._c_settlement span:hover {
      color: #c91523; }
  ._c_settlement strong {
    display: inline-block;
    height: 100%; }
  ._c_settlement b {
    margin: 15px; }
  ._c_settlement em {
    font-size: 14px;
    font-weight: bold;
    color: #e4393c; }
  ._c_settlement button {
    float: right;
    width: 120px;
    height: 100%;
    background-color: #e64346;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none; }

._c_recent-browse > h3 {
  font-size: 14px;
  line-height: 38px; }
  ._c_recent-browse > h3 a {
    font-size: 12px;
    color: #01AAED; }
._c_recent-browse ._c_footprint {
  padding: 20px 0;
  border: 1px solid #eeeeee;
  margin-bottom: 40px;
  overflow: hidden; }
  ._c_recent-browse ._c_footprint > div {
    text-align: center;
    float: left;
    width: 20%;
    padding: 0 20px;
    box-sizing: border-box; }
  ._c_recent-browse ._c_footprint a {
    display: block; }
  ._c_recent-browse ._c_footprint img {
    width: 190px;
    height: 190px;
    margin-bottom: 10px; }
  ._c_recent-browse ._c_footprint h3 {
    height: 44px;
    line-height: 22px;
    color: #333;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  ._c_recent-browse ._c_footprint p {
    text-align: left;
    margin-top: 5px; }
  ._c_recent-browse ._c_footprint em {
    color: #e4393c;
    font-size: 14px;
    font-weight: bold; }
  ._c_recent-browse ._c_footprint b {
    color: #3861a4; }

/*# sourceMappingURL=cart.css.map */
