@import "header";
@import "footer";
@import "util";

.mod_copyright_auth {
  margin-top: 10px;
}

.mod_copyright_auth_ico {
  overflow: hidden;
  display: inline-block;
  margin: 0 3px;
  width: 103px;
  height: 32px;
  background-image: url(../imgs/ico_footer.png);
  line-height: 1000px
}

.mod_copyright_auth_ico_1 {
  background-position: 0 -151px
}

.mod_copyright_auth_ico_2 {
  background-position: -104px -151px
}

.mod_copyright_auth_ico_3 {
  background-position: 0 -184px
}

.mod_copyright_auth_ico_4 {
  background-position: -104px -184px
}

.mod_copyright_auth_ico_5 {
  background-position: 0 -217px
}

.mod_copyright_auth_ico_6 {
  background-position: -104px -217px
}

.index-menu {
  display: block;
}

._content {
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

.ind-model {
  background-color: #fff;
  width: $width;
}

.carousel {
  width: $width;
  height: 480px;
  padding-left: 190px;
  margin: 0 auto;
  box-sizing: border-box;
}

.swiper-box {
  width: 830px;
  height: 100%;
  float: left;
  &:hover {
    .swipePN {
      display: block;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.ind-info {
  float: right;
  width: 180px;
  height: 480px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  .info {
    padding: 15px 0;
    height: 140px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      color: #999;
    }
    a {
      display: inline-block;
      width: 56px;
      height: 24px;
      line-height: 24px;
      background-color: #f71726;
      color: #fff;
      margin: 7px 5px;
    }
  }
}

.ind-notice, .ind-help {
  h2 {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 15px;
    color: #333;
    font-size: 14px;
  }
  ul {
    padding: 7px 0;
    height: 96px;
    border-bottom: 1px solid #f5f5f5;
  }
  li {
    padding: 0 15px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.quick-lane {
  height: 56px;
  > div {
    padding-top: 3px;
    float: left;
    height: 100%;
    text-align: center;
    width: 33%;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
  }
  a {
    display: block;
    &:hover {
      color: #f71726;
    }
  }
  .last-div {
    border-right: none;
  }

  i {
    color: #999;
  }
}

.info-img {
  width: 178px;
  height: 142px;
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper-info-box {
  width: 100%;
  height: 100%;
}

.swiper-info-box > img {
  width: 100%;
  height: 100%;
}

//--------------------------------------------------------

.ind-time-sale {
  margin: 20px auto;
  > h2 {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #f42b38;
    span {
      font-size: 18px;
      color: #fff;
      i {
        margin-right: 12px;
        font-size: 24px;
      }
    }
    a {
      color: #ffd9d9;
      font-size: 14px;
    }
    i {
      vertical-align: -1px;
    }
  }
}

.swiper-box2 {
  overflow: hidden;
  width: 100%;
  height: 270px;
  h3 {
    margin-top: 10px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p {
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
      font-size: 18px;
      font-weight: 700;
    }
  }
  .good-box {
    padding: 20px;
    box-sizing: border-box;
  }
}

.ind-sel-img {
  text-align: center;
  height: 125px;
  padding-bottom: 10px;
  img {
    width: 150px;
    height: 150px;
  }
}

//--------------------------------------------------------

.ind-hot-good {
  margin: 0 auto 30px;
  h2 {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #f51322;
    background-color: #f9f9f9;
  }
  .hot-good {
    text-align: center;
    width: 1000px;
    height: 452px;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    box-sizing: border-box;
    float: left;
    > div {
      float: left;
      width: 20%;
      height: 50%;
      padding: 20px 15px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      a {
        display: block;
      }
    }
    img {
      width: 120px;
      height: 120px;
    }
    h3 {
      margin-top: 10px;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      &:hover {
        color: #f51422;
      }
    }
    p {
      text-align: left;
      height: 20px;
      line-height: 20px;
      color: #e01222;
      span {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.hot-tui-guang {
  width: 200px;
  height: 452px;
  margin-left: 1000px;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  a {
    display: block;
    height: 25%;
  }
  img {
    float: left;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
}

//--------------------------------------------------------

.ind-ad {
  margin: 0 auto 20px;
  height: 100px;
  img {
    width: 33.3%;
    height: 100%;
    float: left;
  }
}

//--------------------------------------------------------

.ind-zone {
  .zone-box {
    width: $width;
    margin: 0 auto 20px;
    >h2 {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: 700;
      color: #333;
      > a {
        font-weight: normal;
        font-size: 12px;
        color: #666;
      }
      i {
        vertical-align: -1px;
      }
    }
  }
  .z-g-right {
    margin-left: 200px;
    height: 500px;
    overflow: hidden;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    div {
      float: left;
      width: 20%;
      height: 50%;
      text-align: center;
      background-color: #fff;
      padding: 25px 20px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
    }
    a {
      display: block;
    }
    img {
      width: 140px;
      height: 140px;
    }
    h3 {
      padding-top: 5px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
    }
    span {
      color: #f51322;
      font-size: 16px;
    }
  }
  .z-g-bottom {
    height: 70px;
    padding: 24px 20px 15px;
    border: {
      right: 1px solid #eee;
      left: 1px solid #eee;
      bottom: 1px solid #eee;
    }
    box-sizing: border-box;
    a {
      display: inline-block;
      width: 8%;
      height: 100%;
      text-align: center;
    }
    img {
      width: 70px;
      height: 100%;
    }
  }
  .z-g-box {
    height: 570px;
    box-sizing: border-box;
  }
  .z-g-left {
    float: left;
    position: relative;
    width: 200px;
    height: 500px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    > a {
      display: block;
      height: 340px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    > ul {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 160px;
      background-color: #fff;
      overflow: hidden;
      padding: 10px;
      box-sizing: border-box;
    }
    li {
      float: left;
      a {
        margin: 0 5px;
        line-height: 24px;
      }
    }
  }
}

//--------------------------------------------------------

.ind-more-like {
  width: $width;
  margin: 0 auto;
  overflow: hidden;
  h2 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
    strong {
      margin: 15px;
    }
    span {
      display: inline-block;
      width: 540px;
      height: 0;
      border-bottom: 1px dashed #ddd;
      vertical-align: 6px;
    }
  }
  .more-box {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    overflow: hidden;
    div {
      float: left;
      width: 20%;
      height: 320px;
      background-color: #fff;
      text-align: center;
      padding: 20px 15px 15px;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
    }
    img {
      width: 185px;
      height: 200px;
    }
    h3 {
      margin-top: 10px;
      line-height: 22px;
      text-align: left;
      height: 44px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical
    }
    p {
      text-align: left;
      margin-top: 10px;
      i {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.pagination, .info-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ccc;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-active-switch {
  background: $color;
}

.swipePN {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, .3);
  display: none;
}

.swipePrev {
  left: 0;
}

.swipeNext {
  right: 0;
}

.c-255 {
  color: #fff;
}