@import "u_header";
@import "u_menu";
@import "util";

//------------------------------------------------------

._st_chose {
  padding: 25px;
  background-color: #fff;
  ul {
    display: inline-block;
    overflow: hidden;
  }
  li {
    float: left;
    margin-right: 40px;
    line-height: 32px;
    cursor: pointer;
    color: #333;
  }

  .g_or_s {
    color: #eb3a3a;
    border-bottom: 2px solid #eb3a3a;
  }

  > div {
    float: right;
    height: 28px;
    input {
      width: 202px;
      height: 28px;
      border: 1px solid #e6e6e6;
      padding-left: 15px;
      box-sizing: border-box;
    }
    button {
      float: right;
      margin-left: 5px;
      width: 52px;
      height: 28px;
      color: #333;
      border: 1px solid #e6e6e6;
      background: #f6f6f6;
    }
  }
}

._st_list {
  margin-top: 15px;
  padding: 15px 15px 100px;
  background-color: #fff;
}

._st_btn {
  height: 40px;
  line-height: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  span {
    padding: 4px 10px;
    margin-right: 20px;
    cursor: pointer;
  }

  .act_btn {
    background-color: #eb3a3a;
    color: #fff;
  }
}

._st_good {
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
  line-height: 22px;
  > div {
    float: left;
    width: 23%;
    margin: 0 1% 20px;
    padding: 20px 10px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    position: relative;
    &:hover {
      > b {
        display: inline-block;
      }
    }
    > a {
      color: #333;
    }
    img {
      width: 158px;
      height: 158px;
      margin-bottom: 10px;
    }
    h3 {
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    em {
      font-size: 16px;
      color: #333;
    }
    > button {
      width: 196px;
      height: 30px;
      border: 1px solid #eeeeee;
      background-color: #f9f9f9;
      margin-top: 10px;
      color: #666;
    }
    i {
      color: #999;
      margin-right: 10px;
    }
    > b {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      background-color: #777777;
      color: #fff;
      cursor: pointer;
      display: none;
    }
  }
}

._st_none {
  display: none;
  height: 400px;
  line-height: 400px;
  text-align: center;
}