._header {
  height: 110px; }

._h-shortcut {
  height: 30px;
  line-height: 30px;
  background-color: #f2f2f2; }
  ._h-shortcut .w {
    width: 1200px;
    margin: 0 auto; }
    ._h-shortcut .w strong span {
      color: #999;
      cursor: pointer; }
    ._h-shortcut .w strong a {
      border: none; }
      ._h-shortcut .w strong a:hover {
        color: #fa0818; }
  ._h-shortcut ul {
    float: right; }
  ._h-shortcut li {
    float: left; }
  ._h-shortcut a {
    padding: 0 15px;
    border-right: 1px solid #ddd; }
    ._h-shortcut a:hover {
      color: #fa0818; }
  ._h-shortcut .last {
    position: relative;
    border-right: none; }
    ._h-shortcut .last:hover img {
      display: inline-block; }
    ._h-shortcut .last img {
      width: 120px;
      height: 120px;
      position: absolute;
      top: 30px;
      left: 0;
      display: none; }

._h_u-nav {
  height: 80px;
  background-color: #e45050; }
  ._h_u-nav > div {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    ._h_u-nav > div > div {
      float: right;
      height: 35px;
      margin-top: 20px; }
      ._h_u-nav > div > div h3 {
        float: left; }
        ._h_u-nav > div > div h3 input {
          float: left;
          width: 170px;
          height: 35px;
          border: none;
          padding-left: 15px;
          box-sizing: border-box; }
        ._h_u-nav > div > div h3 button {
          float: left;
          width: 60px;
          height: 35px;
          background-color: #f7f7f7;
          border: none;
          box-sizing: border-box; }
      ._h_u-nav > div > div h4 {
        float: left;
        width: 150px;
        height: 35px;
        line-height: 35px;
        background-color: #fff;
        text-align: center;
        margin-left: 20px; }
        ._h_u-nav > div > div h4 i {
          margin-right: 5px;
          color: #c81623; }
        ._h_u-nav > div > div h4 span {
          margin-left: 5px;
          color: #c81623; }
  ._h_u-nav ul {
    float: left;
    margin-left: 20px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    font-weight: bold; }
    ._h_u-nav ul a {
      color: #ffffff; }
    ._h_u-nav ul li {
      float: left;
      width: 70px;
      margin-left: 40px; }
    ._h_u-nav ul select {
      border: none;
      width: 90px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #e45050;
      color: #fff; }

.site-logo {
  float: left;
  padding-top: 10px;
  line-height: 60px; }
  .site-logo img {
    width: 120px;
    height: 60px; }
  .site-logo span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-left: 12px; }

div._u_ {
  margin-top: 15px;
  overflow: hidden; }

._u_menu {
  float: left;
  width: 140px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; }
  ._u_menu dl {
    margin-bottom: 20px; }
  ._u_menu dt {
    color: #333;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold; }
  ._u_menu i {
    margin-right: 10px; }
  ._u_menu dd {
    line-height: 24px;
    font-size: 14px;
    padding-left: 25px; }

._u_cont {
  margin-left: 150px; }

.c-red {
  color: #f51322 !important; }

.c-999 {
  color: #999; }

.c-333 {
  color: #333; }

.u-right {
  float: right; }

.u-left {
  float: left; }

.content {
  width: 1200px;
  margin: 0 auto; }

._u-body {
  background-color: #f5f5f5; }

._safe {
  padding: 25px;
  background-color: #fff; }
  ._safe > h3 {
    font-weight: bold;
    color: #333; }

button {
  cursor: pointer; }

.fade-in {
  position: fixed;
  top: 220px;
  right: -235px;
  z-index: 9999;
  width: 235px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box; }
  .fade-in h3 {
    float: left;
    width: 35px;
    height: 100%;
    font-size: 14px;
    background-color: #f8b45b;
    color: #fff;
    text-align: center; }
  .fade-in p {
    float: left;
    width: 200px;
    height: 100%;
    font-size: 14px;
    background-color: #fef3e5;
    color: #f8b45b;
    padding-left: 10px;
    box-sizing: border-box; }

.default {
  position: fixed;
  top: 360px;
  left: 50%;
  z-index: 9999;
  margin-left: -120px;
  width: 240px;
  padding: 10px 20px 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px; }
  .default > h3 {
    line-height: 30px; }

@font-face {
  font-family: 'iconfont';
  /* project id 404741 */
  src: url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot");
  src: url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.woff") format("woff"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.ttf") format("truetype"), url("//at.alicdn.com/t/font_404741_10csvc8221l15rk9.svg#iconfont") format("svg"); }
._rec {
  padding: 25px;
  background-color: #fff; }
  ._rec > h3 {
    font-weight: bold;
    color: #333; }

._rec_ {
  padding: 40px 10px; }
  ._rec_ li {
    margin-bottom: 40px; }
  ._rec_ p {
    height: 20px;
    line-height: 20px;
    border-left: 4px solid #ddd;
    padding-left: 7px;
    margin-bottom: 15px; }
  ._rec_ input, ._rec_ select {
    width: 660px;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding-left: 15px;
    box-sizing: border-box; }
  ._rec_ b {
    margin-left: 10px;
    color: #f40000; }

/*._rec_pay {
  width: 660px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #e6e6e6;
  > span {
    margin-left: 50px;
  }
  input {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: super;
  }
  i {
    font-size: 32px;
    margin-right: 10px;
  }
  em {
    vertical-align: super;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  ._zfb {
    color: #3c98e3;
  }

  ._wx {
    color: #2ea223;
  }
}*/
._rec_btn {
  margin-top: 60px; }
  ._rec_btn > button {
    width: 200px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
    background-color: #e2393c;
    border-radius: 3px;
    border: none; }

/*# sourceMappingURL=recharge.css.map */
