$color: #f51322;

.c-red {
  color: $color !important;
}

.c-999 {
  color: #999;
}

.c-333 {
  color: #333;
}

.u-right {
  float: right;
}

.u-left {
  float: left;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

._u-body {
  background-color: #f5f5f5;
}

._safe {
  padding: 25px;
  background-color: #fff;
  > h3 {
    font-weight: bold;
    color: #333;
  }
}

button {
  cursor: pointer;
}

// msg component
// skin : right fade-in
.fade-in {
  position: fixed;
  top: 220px;
  right: -235px;
  z-index: 9999;
  width: 235px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  h3 {
    float: left;
    width: 35px;
    height: 100%;
    font-size: 14px;
    background-color: #f8b45b;
    color: #fff;
    text-align: center;
  }
  p {
    float: left;
    width: 200px;
    height: 100%;
    font-size: 14px;
    background-color: #fef3e5;
    color: #f8b45b;
    padding-left: 10px;
    box-sizing: border-box;
  }
}

// skin : center defualt

.default {
  position: fixed;
  top: 360px;
  left: 50%;
  z-index: 9999;
  margin-left: -120px;
  width: 240px;
  padding: 10px 20px 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  > h3 {
    line-height: 30px;
  }
}

// ie8图标
@font-face {
  font-family: 'iconfont';  /* project id 404741 */
  src: url('//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot');
  src: url('//at.alicdn.com/t/font_404741_10csvc8221l15rk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_404741_10csvc8221l15rk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_404741_10csvc8221l15rk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_404741_10csvc8221l15rk9.svg#iconfont') format('svg');
}